@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- article-and-news-carousel -->
<section class="article-and-news-carousel">
    <div class="container">
        <h1>HARDCODED</h1>
        <div class="d-flex justify-content-between margin">
            <div>
                <p class="heading-sm">Article & News</p>
                <h2 class="font-dm-lg-heading">Get Every Single Articles & News</h2>
            </div>
            <div class="d-flex justify-content-end align-items-end"">
                <a href=" #">
                    <button class=" yellow-btn">Browse Articles <i
                        class="fa-regular fa-arrow-up-right"></i></button>
                </a>
            </div>
        </div>
        <!-- carousel -->
        <div id="carouselArticleNews" class="carousel slide">

            <!-- carousel-inner -->
            <div class="carousel-inner">
                <!-- slide 1 -->
                <div class="carousel-item active">
                    <div class="article-and-news-grid">
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>25</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Use Digitalization In The Classroom
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="~/images/pictures/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>17</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Implement Chat GPT In Your Projects
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img src="~/images/pictures/kobu-agency-ipARHaxETRk-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>13</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">The Guide To Support Modern CSS Design</h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- slide 2 -->
                <div class="carousel-item">
                    <div class="article-and-news-grid">
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="~/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>25</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Use Digitalization In The Classroom
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="~/images/pictures/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>17</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Implement Chat GPT In Your Projects
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img src="~/images/pictures/kobu-agency-ipARHaxETRk-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>13</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">The Guide To Support Modern CSS Design</h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- slide 3 -->
                <div class="carousel-item">
                    <div class="article-and-news-grid">
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="~/images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>25</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Use Digitalization In The Classroom
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img
                                        src="~/images/pictures/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>17</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">How To Implement Chat GPT In Your Projects
                                </h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                        <div class="article-and-news-card">
                            <a href="#">
                                <div class="img-holder">
                                    <img src="~/images/pictures/kobu-agency-ipARHaxETRk-unsplash.jpg" />
                                    <div class="square">
                                        <p class="date"><span>13</span><br>Mar</p>
                                    </div>
                                </div>
                                <p class="font-grey topic">Business</p>
                                <h3 class="font-dm-sm-heading">The Guide To Support Modern CSS Design</h3>
                                <p class="font-grey description">Lorem, ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Architecto sed hic libero.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- carousel-indicators -->
            <div class="carousel-indicators">
                <div type="button" data-bs-target="#carouselArticleNews" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></div>
                <div type="button" data-bs-target="#carouselArticleNews" data-bs-slide-to="1"
                    aria-label="Slide 2">
                </div>
                <div type="button" data-bs-target="#carouselArticleNews" data-bs-slide-to="2"
                    aria-label="Slide 3">
                </div>
            </div>
        </div>
    </div>
</section>