@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- contact-form -->
<section class="contact-form">
    <div class="container">
        <h1>HARDCODED</h1>
        <h1>NO VALIDATION</h1>
        <div class="d-flex justify-content-center">
            <p class="font-dm-lg-heading">Leave us a message for any information.</p>
        </div>
        <form>
            <label hidden>Name*</label>
            <input required type="text" placeholder="Name*">
            <label hidden>Email*</label>
            <input required type="email" placeholder="Email*">
            <label hidden>Your Message*</label>
            <textarea required placeholder="Your Message*"></textarea>
            <button type="submit" class="yellow-btn">
                Send Message
                <i class="fa-regular fa-arrow-up-right"></i>
            </button>
        </form>
    </div>
</section>