@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- footer -->
<footer style="">
    <div class="container">
        <div class="footer-top">
            <div class="business-short-info">
                <div class="img-holder">
                    <img src="~/images/logos/crito-white.png" />
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas
                    voluptates!
                    Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li>
                        <h3 class="font-dm-sm-heading">Company</h3>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
                <ul>
                    <li>
                        <h3 class="font-dm-sm-heading">Help</h3>
                    </li>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">Delivery Details</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <ul>
                    <li>
                        <h3 class="font-dm-sm-heading">Resources</h3>
                    </li>
                    <li><a href="#">Free eBooks</a></li>
                    <li><a href="#">Development Tutorial</a></li>
                    <li><a href="#">How to - Blog</a></li>
                    <li><a href="#">Youtube Playlist</a></li>
                </ul>
                <ul>
                    <li>
                        <h3 class="font-dm-sm-heading">Links</h3>
                    </li>
                    <li><a href="#">Free eBooks</a></li>
                    <li><a href="#">Development Tutorial</a></li>
                    <li><a href="#">How to - Blog</a></li>
                    <li><a href="#">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="footer-bottom">
            <p>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <img src="./images/graphics/background-lines-white-right.svg" class="wavy-lines" />
</footer>