@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- news-update-signup -->
<section class="news-update-signup">
    <div class="container">
        <p class="font-dm-lg-heading">Get News Updates By Signup</p>
        <form>
            <label hidden>E-mail</label>
            <input type="email" required placeholder="username@domain.com" />
            <button type="submit" class="yellow-btn">Subscribe <i
                    class="fa-regular fa-arrow-up-right"></i></button>
        </form>
    </div>
    <img src="~/images/graphics/background-wavy-lines.svg" />
</section>