@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServiceDetailPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_LayoutWithBreadcrumb.cshtml";
	ViewData["PageTitle"] = Model.Value("pageTitle");
}

<div class="container">
    <div class="d-flex justify-content-center my-5">
        <h1>Info about consulting</h1>
    </div>
</div>