h1 {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: seagreen;
    padding: 50px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
  background-color: burlywood;
}